<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body class="body-background">
            <% include templates/header-big.ejs %>
                <div class="container-fluid" style="margin-top: 2em; margin-bottom: 2em;">
                    <div class="row">
                        <div class="col-12">
                            <article class="middle-long-text">
                                <h2>About</h2>
                                <p>
                                    <strong>Meet the pollutants: Spreading the word about waterway pollution.</strong>
                                </p>
                                <p>
                                    In recent years there has been a lot of momentum around litter prevention and minimisation of single use plastic. This is evidenced around the plastic bag ban, the container deposit scheme and the disuse of plastic straws. Whilst this is extremely useful there are many other small actions that everyday citizens can do to limit the potential damage to our waterways.
                                </p>
                                <p>
                                    Water by Design (WbD) is a technical institution that has typically focused on controlling pollution through large scale civil projects (i.e. sediment control through sediment basins and nutrient control through constructed wetlands and bioretention basins). We recognise however that despite these interventions we are still seeing significant waterway degradation. We also question the merit of an end-of-line solution when we have not fully explored Pollutant Source Control on a lot by lot basis.
                                </p>
                                <p>
                                    The difficulty we face is how to instigate widespread behaviour change action in relation to pollution control. In an effort to reach a new audience we are now pursuing an education campaign aimed at primary school children. The campaign borrows from the ‘Pokemon universe’ for inspiration and provides a colourful illustration for each type of pollutant. The personification of the pollutants helps break down the scientific knowledge barrier and provides a fun gateway for children to learn more about different types of pollutants.
                                </p>
                                <p>
                                    For example, people may not realize that washing a synthetic fleece jumper can release thousands of micro plastic fibres into the waste water stream and ultimately the environment, so the campaign features a character for microfibre. WbD are also linking each pollutant character to a simple behaviour change action that residents can undertake at home (i.e. purchasing natural fibre jumpers as an alternative).
                                </p>
                                <p>
                                    Another goal of this campaign is to broaden the focus of the Stormwater Quality industry away from just sediment and nutrients and encourage re-evaluation of house-scale interventions. For example, another feature character is PFOS (Perfluorooctanesulfonic acid), an important pollutant responsible for fish kills and groundwater contamination that many professionals may not know much about but is found in every day products such as water repellents and non-stick frypans.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>
            </body>
        </html>
