<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body>
            <% include templates/header-big.ejs %>
                <div class="container-fluid">
                    <div class="row">
                        <% for(var i = 0; i < data.pollutants.length; i++){ %>
                            <div class="col-12 col-md-3 col-xl-2">
                                <form method="get" action="pollutant" class="inline">
                                    <input type="hidden" name="id" value="<%= i %>">
                                    <button type="submit" class="link-button">
                                        <div class="card h-100" style="width:100%; background-color: inherit;">
                                            <img class="card-img-top" src="<%= data.pollutants[i].featureImg %>">
                                            <div class="card-body">
                                                <h4 class="card-title text-center"><%= data.pollutants[i].name %></h4>
                                                <p class="card-text">
                                                    <%= data.pollutants[i].description %>
                                                </p>
                                            </div>
                                        </div>
                                    </button>
                                </form>

                            </div>
                            <% }; %>

                    </div>
                </div>

                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>
        </body>

</html>