<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body class="body-background">
            <% include templates/header-big.ejs %>
                <div class="container-fluid" style="margin-top: 2em; margin-bottom: 2em;">
                    <div class="row">
                        <div class="col-12">
                            <article class="middle-long-text">
                                <h2>Privacy Policy</h2>
                                <p>
                                    Healthy Land and Water Limited (Healthy Land and Water) respects the privacy of our members, volunteers, business partners, donors and online users, and we are committed to safeguarding the personal information that is provided to us.
                                </p>
                                <p>
                                    To the extent that this Privacy Policy applies to online privacy issues, it is to be read as forming part of the terms and conditions of use for the Healthy Land and Waterwebsite.
                                </p>
                                <h2>Purpose</h2>
                                <p>
                                    The purpose of this privacy policy is to:
                                </p>
                                <p>
                                    clearly communicate the personal information handling practices of Healthy Land and Water, enhance the transparency of Healthy Land and Water’ operations, and give individuals a better and more complete understanding of the sort of personal information
                                    that Healthy Waterways holds, and the way we handle that information.
                                </p>
                                <h2>Definitions</h2>
                                <p>
                                    <strong>online users</strong> refers to anyone that accesses the Healthy Land and Water website, hlw.org.au
                                </p>
                                <p>
                                    <strong>personal information</strong> as defined by the Privacy Act 1988 (as amended) is information or an opinion about an identified individual, or an individual who is reasonably identifiable, whether true or not,
                                    and whether recorded in a material form or not.
                                </p>
                                <p>
                                    <strong>sensitive information</strong> is a subset of personal information and includes and individual’s racial or ethnic origin, political opinions, membership of a political association, religious beliefs or affiliations,
                                    philosophical beliefs, membership of a professional or trade association, membership of a trade union, sexual preferences or practices or criminal record or health, genetic, biometric information or biometric templates.
                                </p>
                                <p>
                                    <strong>the website</strong> means the Meet the Pollutants website, meetthepollutant.com
                                </p>
                                <h2>Overview of Healthy Waterways’ Programs and Services</h2>
                                <p>
                                    Healthy Land and Water is a not-for-profit, non-government, membership-based organisation working to protect and improve waterway health. Healthy Land and Waters facilitates careful planning and coordinated efforts at local and regional levels among a
                                    network of member organisations from government, industry, research, recreation groups and the community to deliver our shared purpose for healthy waterways.
                                </p>
                                <p>
                                    In carrying out this objective Healthy Land and Water engages volunteers and receives funding and support from members of the community, corporations, groups and governments.
                                </p>
                                <p>
                                    Healthy Land and Water holds contracts to deliver State government programs. In providing such services, we comply with the relevant state or national privacy principles and any additional obligations under the contract.
                                </p>
                                <h2>Our Personal Information Handling Practices</h2>
                                <p>
                                    <strong>Our obligations under the Privacy Act</strong>
                                </p>
                                <p>
                                    This privacy policy sets out how we comply with our obligations under the Privacy Act 1988 (Privacy Act). We are bound by the Australian Privacy Principles (APPs) in the Privacy Act which regulate how organisations may collect, use, disclose and store
                                    personal information, and how individuals may access and correct personal information held about them.
                                </p>
                                <p>
                                    <strong>Collection of Personal Information</strong>
                                </p>
                                <p>
                                    If you would like to access any Healthy Land and Water Services on an anonymous basis or using a pseudonym, please tell us. If this is possible and lawful, we will take all reasonable steps to comply with your request. However, we may not be able to provide
                                    the services in question if we are not provided with the personal information requested.
                                </p>
                                <p>
                                    The nature and extent of personal information collected by Healthy Land and Water varies depending on your particular interaction with Healthy Land and Water.
                                </p>
                                <p>
                                    Healthy Land and Water collects personal and sensitive information from members, volunteers, donors, business partners and online users. Further information about the kind of information collected from each of these groups and the usage of such information
                                    is detailed below.
                                </p>
                                <p>
                                    Healthy Land and Water does not match the personal information collected with the non-personal information.
                                </p>
                                <p>
                                    <strong>Additional Information</strong>
                                </p>
                                <p>
                                    The website may from time to time contain links to other websites. Healthy Land and Water stresses that when an online user accesses a website that is not the Healthy Land and Water website, it may have a different privacy policy. To verify how that website
                                    collects and uses information, the user should check that particular website’s policy.
                                </p>
                                <p>
                                    <strong>How We Collect Information</strong>
                                </p>
                                <p>
                                    Where possible, we collect your personal information directly from you. We collect information through various means, including telephone and in-person interviews, appointments and forms.
                                </p>
                                <p>
                                    In some situations we may also obtain personal information about you from a third party source. If we collect information about you in this way, we will take reasonable steps to contact you and ensure that you are aware of the purposes for which we are
                                    collecting your personal information and the organisations to which we may disclose your information, subject to any exceptions under the Act.
                                </p>
                                <p>
                                    <strong>Online Users</strong>
                                </p>
                                <p>
                                    Healthy Land and Water Limited generally only collects personal information from its website when it is provided voluntarily by you – for example, when you fill in a form to subscribe to our Water by Design forum. When you visit its website or download
                                    information from it, its Internet Service Provider (ISP) makes a record of your visit and records the following information: your Internet address; your domain name, if applicable; and he date and time of your visit
                                    to the website. ur ISP also collects information such as the pages our users access, the documents they download, links from other sites they follow to reach our site, and the type of browser they use. However, this
                                    information is anonymous and is only used for statistical and website development purposes.
                                </p>
                                <p>
                                    <strong>How we use and disclose of Personal Information</strong>
                                </p>
                                <p>
                                    We only use personal information for the purposes for which it was given to us, or for purposes which are related to one of our functions or activities.
                                </p>
                                <p>
                                    For the purposes referred to in this Privacy Policy (discussed above under ‘Collection of Personal Information’), we may also disclose your personal information to other external organisations including:
                                </p>
                                <ul>
                                    <li>
                                        Contractors who manage some of the services we offer to you. Steps are taken to ensure they comply with the APPs when they handle personal information and are authorized only to use personal information in order to provide the services or to perform the
                                        functions required by Healthy Land and Water ;
                                    </li>
                                    <li>
                                        Other regulatory bodies;
                                    </li>
                                    <li>
                                        Our professional advisors, including our accountants, auditors and lawyers.
                                    </li>
                                </ul>
                                <p>
                                    Except as set out above, Healthy Land and Water will not disclose an individual’s personal information to a third party unless you have consent or one of the exceptions set out in the Privacy Act applies.
                                </p>
                                <p>
                                    <em>
                                We do not usually send personal information out of Australia.  If we are otherwise required to send information overseas we will take measures to protect your personal information. We will protect your personal information either by ensuring that the country of destination has similar protections in relation to privacy or that we enter into contractual arrangements with the recipient of your personal information that safeguards your privacy.
                            </em>
                                </p>
                                <p>
                                    <strong>Security of Personal Information</strong>
                                </p>
                                <p>
                                    Healthy Land and Water takes reasonable steps to protect the personal information we hold against misuse, interference, loss, unauthorised access, modification and disclosure.
                                </p>
                                <p>
                                    <strong>Access to and correction of personal information</strong>
                                </p>
                                <p>
                                    If an individual requests access to the personal information we hold about them, or requests that we change that personal information, we will allow access or make the changes unless we consider that there is a sound reason under the Privacy Act or other
                                    relevant law to withhold the information, or not make the changes. If we deny access to information we will set our reasons for denying access. Where there is a dispute about your right of access to information or forms
                                    of access, this will be dealt with in accordance with the complaints procedure set out below.
                                </p>
                                <p>
                                    Requests for access and/or correction should be made to the Privacy Officer (details of which are set out below). We will respond to your request within a reasonable time.
                                </p>
                                <p>
                                    If an individual is able to establish that personal information Healthy Land and Water holds about her/him is not accurate, complete or up to date, Healthy Waterways will take reasonable steps to correct our records.
                                </p>
                                <p>
                                    <strong>Complaints Procedure</strong>
                                </p>
                                <p>
                                    If you have provided us with personal information, or we have collected and hold your personal and sensitive information, you have a right to make a complaint and have it investigated and dealt with under this complaints procedure.
                                </p>
                                <p>
                                    If you have a complaint about Healthy Land and Water’s privacy practices or our handling of your personal information please contact our Privacy Officer (details of which are set out below).
                                </p>
                                <p>
                                    <strong>Changes to this Privacy Policy</strong>
                                </p>
                                <p>
                                    Healthy Land and Water reserves the right to review, amend and/or update this policy from time to time.
                                </p>
                                <p>
                                    We aim to comply with the APPs and other privacy requirements required to be observed under State or Commonwealth Government contracts.
                                </p>
                                <p>
                                    Individuals can obtain further information in relation to this privacy policy, or provide any comments, by contacting us.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>
        </body>

</html>