<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body>
            <% include templates/header-big.ejs %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <article class="middle-long-text">
                                <h2>Terms and Conditions</h2>
                                <p>
                                    Healthy Land and Water Limited’s disclaimer, copyright and liability information are designed to protect your rights and govern the use of information by third parties on this website.
                                </p>
                                <h2>Security</h2>
                                <p>
                                    The Internet is not a secure environment. If you use the Internet to send us any information, including your email address, it is sent at your own risk.
                                </p>
                                <h2>Copyright</h2>
                                <p>
                                    Copyright © Healthy Land and Waters Limited 2018
                                </p>
                                <p>
                                    The copyright in this website and the material on this website (including without limitation the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website) is owned by Healthy Land
                                    and Water Limited and its licensors.
                                </p>
                                <h2>The material on this website may only be used as follows:</h2>
                                <p>
                                    You may make temporary copies in order to browse this site on-screen. Unless otherwise stated, you may download or print a single copy of Healthy Land and Water Limited copyright material for research or personal use. You must not change or remove any
                                    part of any copyright notice. You must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website
                                    (in any form or media) without Healthy Land and Water Limited prior written permission.
                                </p>
                                <p>
                                    Trademarks used on this site to describe organisations and their products are trademarks of those organisations or the registered proprietors of the trademark.
                                </p>
                                <p>
                                    For further information regarding use of any material on this website please contact Healthy Land and Water on (07) 3177 9100 or email info@hlw.org.au
                                </p>
                                <h2>Disclaimer</h2>
                                <p>
                                    While every effort has been made to ensure that information on this website is accurate, Healthy Land and Water Limited makes no warranty or representation of any sort whatsoever about the accuracy of the information contained in this website.
                                </p>
                                <p>
                                    It is the responsibility of the user to determine the suitability and appropriateness of the information and its specific application. The information contained in this website is produced for general information only without assuming a duty of care.
                                    It is not intended that the information be taken as professional advice on specific applications.
                                </p>
                                <p>
                                    This website may contain references to other sites and they are provided for convenience only and should not be construed as an endorsement by Healthy Land and Water Limited.
                                </p>
                                <p>
                                    No person should act or fail to act on the basis of any information contained in this website and should obtain specific independent professional advice. Healthy Land and Water Limited does not accept any legal liability or responsibility whatsoever for
                                    any injury, loss or damage, due to or arising out of the user’s application of, use of, reliance upon, or interpretation of the information contained in this website. The details and information contained on the website
                                    do not necessarily represent the views of Healthy Land and Water Limited or the participants of the Healthy Land and Water Network.
                                </p>
                                <h2>Data Licencing</h2>
                                <p>
                                    Please read the single use data licence conditions below and confirm you have read them, acknowledged them and agree to abide by them. You are requesting data generated through Healthy Land and Water Ltd and must reach the <strong>single use data licence conditions</strong>                                    below and agree to abide by them:
                                </p>
                                <p>
                                    By accessing Healthy Land and Water supplied data files, you acknowledge and agree:
                                </p>
                                <ul>
                                    <li>
                                        That raw data is provided ‘as is’ and will need interpretation.
                                    </li>
                                    <li>
                                        To the single use data licence requirements:
                                    </li>
                                    <li>
                                        The raw data is only for use for the purposes of benefiting Healthy Land and Water activities.
                                    </li>
                                    <li>
                                        To not pass the raw data set on to a third party.
                                    </li>
                                    <li>
                                        To fully acknowledge the data source (Ecosystem Health Monitoring Program, Healthy Land and Water Ltd) in any use such as reports, presentations or scientific papers.
                                    </li>
                                    <li>
                                        To provide Healthy Land and Water Ltd with a copy of any such report, presentation or scientific paper.
                                    </li>
                                </ul>
                                <p>
                                    If the raw data is to be used for any other purpose, permission will have to be obtained from Healthy Land and Water Ltd and may be subject to terms imposed on such use.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>
        </body>

</html>