<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body onresize="executeResize()" class="body-background">
            <% include templates/header-big.ejs %>
                <div class="container-fluid" style="margin-top: 2em; margin-bottom: 2em;">
                    <div class="row">
                        <div class="col-12 text-center" style="margin-bottom: 2em;">
                            <h2>Videos</h2>
                        </div>
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3" id="containsIframe">
                                        <iframe src="https://www.youtube.com/embed/Mcewxix4ikA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframe"></iframe>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                        <iframe src="https://www.youtube.com/embed/OUm5ESOMJbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframe"></iframe>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                        <iframe src="https://www.youtube.com/embed/OUm5ESOMJbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframe"></iframe>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                        <iframe src="https://www.youtube.com/embed/OUm5ESOMJbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframe"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>

                        <script>
                            window.addEventListener("resize", executeResize);
                            window.addEventListener('DOMContentLoaded', executeResize);

                            function resizeIFrameToFitContent(iFrame) {
                                var myWidth = document.getElementById('containsIframe').clientWidth - 30
                                iFrame.width = myWidth;
                                iFrame.height = (myWidth * 9) / 16;
                            }

                            function executeResize() {

                                var iframes = document.querySelectorAll("iframe");
                                for (var i = 0; i < iframes.length; i++) {
                                    resizeIFrameToFitContent(iframes[i]);
                                }
                            }
                        </script>
        </body>

</html>