<!DOCTYPE html>
<html>

    <% include templates/head.ejs %>

        <body>
            <% include templates/header-big.ejs %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>Videos</h2>
                        </div>
                        <div class="col-12 text-center">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
                                        <iframe  src="https://www.youtube.com/embed/Mcewxix4ikA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
                                        <iframe src="https://www.youtube.com/embed/OUm5ESOMJbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include templates/footer-big.ejs %>
                    <% include templates/footer.ejs %>
        </body>

</html>
