.jumbHeader {
    color           : #fff;
    position        : relative;
    padding-top     : 50px;
    padding-bottom  : 50px;
    background-color: #1a7bb4;
}

.jumbHeader::before {
    content            : "";
    position           : absolute;
    width              : 100%;
    top                : 0;
    bottom             : 0;
    left               : 0;
    right              : 0;
    background-position: center;
    background-repeat  : repeat;
    background         : url("/footer-main-bg.png");
    background-size    : cover;
    z-index            : 1;
}

.footer {
    color           : #fff;
    position        : relative;
    padding-top     : 25px;
    padding-bottom  : 20px;
    background-color: #1a7bb4;
}

.footer::before {
    content            : "";
    position           : absolute;
    width              : 100%;
    top                : 0;
    bottom             : 0;
    left               : 0;
    right              : 0;
    background-position: center;
    background-repeat  : repeat;
    background         : url("/footer-main-bg.png");
    background-size    : cover;
    z-index            : 1;
}

.logo {
    position      : relative;
    text-align    : center;
    padding-top   : 15px;
    padding-bottom: 15px;
    z-index       : 3;
}

.footer-content {
    z-index: 3;
}

.footer2 {
    text-align      : center;
    color           : #fff;
    position        : relative;
    padding-top     : 5px;
    padding-bottom  : 5px;
    background-color: #07598a;
}

.middle-long-text {
    max-width: 750px;
    margin   : auto;
}

p {
    font-size     : 1.125rem;
    padding-bottom: 25px;
    margin-top    : 0;
    margin-bottom : 0.75rem;
}