<section class="footer2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2019 Glenn Browning, Scott Browning, Thomas Csere
            </div>
    </div>
</section>
