<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center">
                                        Contact
                                    </h2>
                            <br>
                        </div>
                        <address>
                                <div class="col-12">
                                    Healthy Land and Water
                                </div>
                                <div class="col-12">
                                    Level 19, 160 Ann Street, Brisbane 4000
                                </div>
                                <div class="col-12">
                                    PO Box 13204, George Street, Brisbane Qld 4003
                                </div>
                                <div class="col-12">
                                    Ph:<a href="tel:+0731779100" style="color: inherit"> (07) 3177 9100</a>
                                </div>
                                <div class="col-12">
                                    Fax: (07) 3177 9190
                                </div>
                                <div class="col-12">
                                    Email: <a href="mailto:info@hlw.org.au" style="color: inherit">info@hlw.org.au</a>
                                </div>
                            </address>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class=" col-12 col-sm-3 text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 logo">
                            <a href="https://waterbydesign.com.au/">
                                <img src="/wbdLogo2.png" alt="Water By Design" />
                            </a>
                        </div>
                        <div class="col-12 logo">
                            <a href="https://hlw.org.au/">
                                <img src="/hlwLogo2.png" alt="Healthy Land and Water" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>
