<section class="jumbHeader" style="box-shadow: 0 10px rgba(0, 0, 0, .5);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center" style="z-index: 3;">
                <h1>
                        <a href="/" style="color: inherit">MEET THE POLLUTANTS</a>
                </h1>
            </div>
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-9">
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 text-center" style="z-index: 3;">
                            <a href="/about" style="color: inherit">about</a> |
                            <a href="/pollutants" style="color: inherit">pollutants</a> |
                            <a href="/videos" style="color: inherit">videos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
